<!-- <app-shift-master></app-shift-master>  -->
<!-- <app-shift-master-table></app-shift-master-table> -->
<!-- <app-directives></app-directives> -->
<!-- <app-basic></app-basic> -->
<!-- <app-shopping-cart></app-shopping-cart> -->
<!-- <app-material-table></app-material-table> -->
<!-- <app-material-table-sticky></app-material-table-sticky> -->
<!-- <app-expandable-table></app-expandable-table> -->
<!-- <app-schedule-and-production-charging></app-schedule-and-production-charging> -->
<app-specification-master-crud></app-specification-master-crud>
