
         <div class="container-fluid ">
         
           <div class="row">
             <div class="col-8 loginBg">

             </div>
           <div class="col-4 ">
           <div class="loginContainer">
              <form class="loginContent">
              <div class="org-logo-container">
                                        
                  <img class="logo" src="assets/images/logo.jpg"></div>
               <h5 >Sign In</h5>
            
              <div>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                <label for="inputEmail">Email address</label>
              </div>

              <div >
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="rememberMe">
                  <input class="form-control" type="checkbox" checked="checked" name="remember"> Remember me
              
              </div>
              <button class="btn btn-lg  btn-block login" type="submit">Sign in</button>             
            </form>
          </div>
          </div>
           </div>
          </div>



          